

.fxbox{
    display: flex;
}

.link-box a {
    &:after {
      content: "";
      margin-top: 18px;
      border-bottom: solid 1px #fff;
      position: absolute;
      font-weight: 100;
      margin-top: 2px;
      bottom: 0;
      width: 0;
      left: 0;
    }
  
    &:before {
      margin-top: 18px;
      left: 0;
    }
  
    &:after {
      margin-top: 18px;
      right: 0;
    }
  
    &:hover:after {
      left: 0;
      width: 60%;
      font-weight: 400;
    }
  
    /* 클릭후 볼드 고정 */
    &:active {
      font-weight: 400;
    }
  
    &:after {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  
  .link-box2 a {
    &:after {
      content: "";
      margin-top: 2px;
      border-bottom: solid 1px #000;
      position: absolute;
      font-weight: 100;
      bottom: 0;
      width: 0;
      left: 0;
    }
  
    &:before {
      left: 0;
    }
  
    &:after {
      right: 0;
    }
  
    &:hover:after {
      left: 0;
      width: 100%;
      font-weight: 400;
    }
  
    /* 클릭후 볼드 고정 */
    &:active {
      font-weight: 400;
    }
  
    &:after {
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }