
.sliding-wrap{
  margin: 0 auto;
  overflow: hidden;
  position: relative; /* transform 사용을 위해 필요 */
  .sliding-text {
    // text-align: center;
    position: absolute;
    top: -100%; /* 초기 위치: 위쪽으로 숨김 */
    opacity: 0; /* 초기 투명도: 0 */
    white-space: nowrap;
  }
}
  
  @keyframes slideDown {
    to {
      top: 0; /* 최종 위치: 원래 위치 */
      opacity: 1; /* 최종 투명도: 1 */
    }
  }