//Main.scss
@import "../css/variables/variables";

.works-list-wrap:hover ~ .show-works-box {
  left: 0 !important;
}
.show-works-box {
  left: -100%;
  transition: left 1.5s ease;
}

#main-visual-area {
  position: relative;
  height: 100vh;
  .scroll-down {
    padding-top: 40px;
    text-align: center;
  }

  .ani-bar {
    position: relative;
    overflow: hidden;
    margin: 20px auto;

    width: 0.04rem;
    height: 4rem;
    background: #ffffff40;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0.04rem;
      height: 4rem;
      background: #000;
      animation: ani-bar 1.5s linear infinite;
      @keyframes ani-bar {
        0% {
          opacity: 0;
          top: 0%;
        }
        75% {
          opacity: 1;
          top: 80%;
        }
        100% {
          opacity: 0;
          top: 100%;
        }
      }
    }
  }

  .title-wrap {
    cursor: default;

    position: absolute;
    top: 56%;
    left: 50%;
    translate: -50% -50%;

    .random-img {
      position: relative;
      // overflow: hidden;
      width: 150px;
      animation: imgani 1s ease-out;

      @keyframes imgani {
        100% {
          top: -10%;
          opacity: 0;
        }
      }
      img {
        top: 0%;
        opacity: 1;

        position: absolute;
        width: 100%;
        animation: imgani 1s ease-out;

        @keyframes imgani {
          100% {
            top: -10%;
            opacity: 0;
          }
        }
      }
    }
    span {
      text-align: center;
      display: block;
      font-weight: 200;
      font-size: 10rem;
      &:nth-child(2) {
        font-weight: 600;
      }
    }
  } //title-wrap
  .works-list-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;

    .title {
      translate: 128%;
      padding-right: 20px;
    }

    .works-list {
      gap: 10px;
      justify-content: flex-end;
      li {
        width: 20%;
        .imgbx {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .show-works-box {
    position: relative;
    overflow: hidden;
    // left: -100%;
    height: 100%;

    transition: 0.2s ease-in-out;

    ul {
      position: absolute;
      top: 0;
      left: 0;
      li {
        width: 70vh;
        .title {
          position: absolute;

          padding: 50px;
          letter-spacing: -0.4px;

          color: #fff;
          font-size: 2.5rem;
          span {
            display: block;
          }
        }
        .imgbx {
          width: 100%;
          img {
            width: 100%;
          } //img
        } //imgbx
      } //li
    } //lul
  } //show-works-box
} //main-visual-area

#profile-area {
  overflow: hidden;
  .hello-text-wrap {
    position: relative;
    .imgbx {
      position: relative;
      z-index: 1;
      margin: 0 auto;
      max-width: 24vw;
      img {
        width: 100%;
      }
    } //imgbx
    .introduction {
      padding-top: 30px;
      text-align: center;
      font-size: 2rem;
      span {
        display: block;
      }
    }
    .back-text-bubbles-wrap {
      ul {
        // z-index: -1;

        position: absolute;
        top: 30%;
        left: 50%;
        translate: -50% -50%;
        height: 40%;

        display: grid;
        grid-template-columns: repeat(20, 4fr);
        grid-template-rows: repeat(6, 4fr);
        justify-items: center;

        li {
          top: 10%;
          scale: 1;
          position: relative;
          width: 100%;
          border-radius: 30px;
          text-align: center;
          padding: 20px 10px;
          color: #fff;
          background-color: #e8af7d;
          &:first-child {
            // 로시/컬시/로끝/컬끝
            grid-area: 1/10/2/7;
            z-index: -1;
            animation: bubblesScale 4s infinite;
          }
          &:nth-child(2) {
            grid-area: 2/13/3/18;
            animation: bubblesScale 3.5s infinite;
          }
          &:nth-child(3) {
            opacity: 0.7;
            grid-area: 3/6/4/8;
            animation: bubblesScale 3.2s forwards infinite;
          }
          &:nth-child(4) {
            opacity: 0.3;
            grid-area: 5/13/6/17;
            animation: bubblesScale 3.5s infinite;
          }

          @keyframes bubblesScale {
            0% {
              top: 10%;
              scale: 1;
            }
            50% {
              top: -15%;
              scale: 1.1;
            }
            100% {
              top: 10%;
              scale: 1;
            }
          }
        }
      } //ul
    } //back-text-bubble
  } //hello-text-wrap

  // 텍스트 애니
  .top-ani-text {
    position: relative;
    // overflow-x: hidden; /* 넘치는 부분 숨김 */
    left: 0;

    // width: 100vw;
    color: #e8af7d35;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    animation: loopText 10s linear infinite;
    font-size: 7rem;
    @keyframes loopText {
      0% {
        left: -120%;
      }
    } //keyframes loopText
  } //top-ani-text
  .bottom-ani-text {
    position: relative;
    top: 80px;
    left: 0;
    // overflow-x: hidden; /* 넘치는 부분 숨김 */
    width: 100vw;

    color: #e8af7d35;
    font-size: 7rem;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */

    animation: loopText2 10s linear infinite reverse;
    @keyframes loopText2 {
      0% {
        left: -120%;
      }
    } //keyframes loopText
  } //bottom-ani-text

  // skill-wrap
  .skill-wrap {
    padding-top: 50px;
    width: 40vw;
    margin: 0 auto;

    .title {
      font-weight: 400;
      padding-bottom: 20px;
    }

    ul {
      margin: 0 auto;
      flex-wrap: wrap;
      gap: 10px;
      li {
        border-radius: 20px;
        padding: 3px 16px;
        align-items: center;
        gap: 4px;
        font-size: 0.8rem;
        font-weight: 200;
        color: #fff;
        background: #000;
        .icon {
          width: 30px;
          img {
            width: 100%;
          }
        } //icon
      } //li
    } //ul
  } //skill-wrap

  .info-text-wrap {
    position: relative;
    padding: 100px 0;

    .big-title {
      position: relative;
      z-index: -1;

      margin: 0 auto;
      padding-top: 100px;
      max-width: 75rem;

      color: #000;
      text-align: center;
      font-size: 14rem;
      line-height: 0.8;
    }
    .img-wrap {
      position: relative;
      max-width: 80%;
      margin: 0 auto;

      gap: 0 5rem;
      align-items: flex-end;

      // 애니 초기셋팅
      translate: 0 10%;
      opacity: 0;

      .imgbx {
        max-width: 60%;
        img {
          aspect-ratio: 520 / 544;
          object-fit: cover;
          width: 100%;
        }
      } //imgbx
      .text {
        b{
          margin-bottom: 20px;
        }
        line-height: 1.6;
        max-width: 40%;
      }
    }
  } //info-text-wrap
} //profile-area

#works-list-area {
  padding: 130px 0;
  background-color: #000;
  position: relative;
  height: 150vh;
  // overflow: hidden;
  .bg-wrap {
    .blurbx {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(20px);
    }
    .bg-box {
      // z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../public/images/works_bg.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      // backdrop-filter: blur(20px);
      opacity: 0.6;
      transition: background-image 0.3s ease, backdrop-filter 0.3s ease;
    }
  }

  .back-title-wrap {
    position: sticky;
    opacity: 0; /* 기본적으로 숨김 */
    transition: opacity 0.3s ease; /* 부드러운 전환 효과 */

    z-index: 9;

    cursor: default;
    pointer-events: none;

    text-align: center;
    top: 50%;
    // left: 50%;
    transform: translateY(-50%);
    // translate: -50% -50%;

    .eng-title {
      color: #fff;
      font-size: 5.5rem;
      span {
        display: block;
      } //span
    } //eng-title

    .kor-title {
      color: #fff;
      font-weight: 200;
      font-size: 1.5rem;
    }
  } //eng-title-area
  ul {
    z-index: 2;
    position: relative;
    translate: -50% -50%;
    left: 50%;
    top: -10%;
    display: grid;
    grid-template-columns: repeat(40, 4fr);
    grid-template-rows: repeat(6, 2fr);

    li {
      opacity: 0;
      translate: 0 10%;
      transition: 0.2s linear;
      &:first-child {
        // 로시/컬시/로끝/컬끝
        grid-area: 1 / 6 / 4 / 15;
      }
      &:nth-child(2) {
        // 로시/컬시/로끝/컬끝
        grid-area: 3 / 28 / 6 / 37;
      }
      &:nth-child(3) {
        // 로시/컬시/로끝/컬끝
        grid-area: 5/12/8/20;
      }
      &:hover {
        scale: 1.2;
        filter: drop-shadow(40px 40px 20px #18152b50);
      }
      .img-wrap {
        position: relative;
        .kor-title {
          padding: 20px;
          position: absolute;
          top: 0;
          left: 0;
          color: #fff;
          span {
            display: block;
          }
        }
        .imgbx {
          width: 100%;
          img {
            aspect-ratio: 750 / 1099;
            width: 100%;
          } //img
        } //imgbx
      } //img-wrap
    } //li
  } //ul
} //works-area

#conect-us-area {
  position: relative;
  background-color: #000;
  padding: 100px 0;
  // z-index: 99;
  .imgbx {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    width: 20%;
    transform: rotate(4deg);
    transform-origin: 50% 40%;
    animation: movehead 4s linear infinite;
    img {
      width: 100%;
    }

    @keyframes movehead {
      0% {
        transform: rotate(4deg);
      }

      70% {
        transform: rotate(-4deg);
      }

      100% {
        transform: rotate(4deg);
      }
    }
  } //imgbx
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    text-align: center;
    font-size: 8rem;
    color: #e8af7d;
  }
  ul {
    padding: 50px 0;
    li {
      align-items: center;
      justify-content: center;
      gap: 10px;
      .icon-box {
        align-items: center;
        gap: 5px;
        img {
          width: 100%;
        }
      } // icon-box
      color: #fff;
      .topic {
        font-weight: 600;
      }
      .text {
        font-weight: 200;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .copy {
    text-align: center;
    font-weight: 200;
    font-size: 0.6rem;
    color: #fff;
  }
} //conect-us-area

@keyframes slideUp {
  to {
    translate: 0 0%;
    opacity: 1; /* 최종 투명도: 1 */
  }
}

// 미디어쿼리///////////////////////////////////
@media screen and (max-width: 1534px){

}//midea 1534px
@media screen and (max-width: 1140px) {
  #main-visual-area {
    .scroll-down {
      margin-bottom: 120px;
    }
    .show-works-box {
      display: none;
    }
    .works-list-wrap {
      .works-list {
        padding-top: 20px;
        justify-content: center;
      }
      .title {
        margin: 0 auto;
        translate: 0;
        padding-right: 0;
      }
      flex-wrap: wrap;
      left: 50%;
      transform: translateX(-50%);
    }
  } //main-visual-area

  #profile-area {
    .hello-text-wrap {
      .back-text-bubbles-wrap {
        ul {
          li {
            &:first-child {
              // 로시/컬시/로끝/컬끝
              grid-area: 1/2/2/10;
            }
            &:nth-child(2) {
              grid-area: 2/13/3/21;
            }
            &:nth-child(3) {
              grid-area: 3/4/4/8;
            }
            &:nth-child(4) {
              grid-area: 3/13/4/19;
            }
          }
        } //ul
      } //back-text-bubble
    } //hello-text-wrap
 
  .skill-wrap{
    width: 60vw;
    .title{
      text-align: center;
    }
    ul{
      justify-content: center;
      li{
        gap: 1px;
      }
    }
  }//skill-wrap
} // #profile-area

#works-list-area{
  height: 98vh;
  ul{
    top: -40%;
  }
}//works-list-area
#conect-us-area{
  .title{
    top: 40%;
  }
}//conect-us-area
} //media 1140
