//Main.scss
@import "../css/variables/variables";
@import "../css/variables/interval_variable.scss";

#main-area {
  & > div:first-child {
    padding-bottom: $padding-ragular;
  }
  & > div:not(:last-child) {
    padding-bottom: $padding-ragular;
  }
  & > div + div {
    padding-bottom: $padding-ragular;
  }

  .works-list-wrap:hover ~ .show-works-box {
    left: 0 !important;
  }
  .show-works-box {
    left: -100%;
    transition: left 1.5s ease;
  }

  #main-visual-area {
    //섹션간격 토탈 관리

    position: relative;
    height: 100vh;
    .scroll-down {
      text-align: center;
    }

    .ani-bar {
      position: relative;
      overflow: hidden;
      margin: 20px auto;

      width: 0.04rem;
      height: 4rem;
      background: #ffffff40;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0.04rem;
        height: 4rem;
        background: #000;
        animation: ani-bar 1.5s linear infinite;
        @keyframes ani-bar {
          0% {
            opacity: 0;
            top: 0%;
          }
          75% {
            opacity: 1;
            top: 80%;
          }
          100% {
            opacity: 0;
            top: 100%;
          }
        }
      }
    }

    .title-wrap {
      cursor: default;

      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      .random-img {
        position: relative;
        // overflow: hidden;
        width: 150px;
        animation: imgani 1s ease-out;

        @keyframes imgani {
          100% {
            top: -10%;
            opacity: 0;
          }
        }
        img {
          top: 0%;
          opacity: 1;

          position: absolute;
          width: 100%;
          animation: imgani 1s ease-out;

          @keyframes imgani {
            100% {
              top: -10%;
              opacity: 0;
            }
          }
        }
      }
      .sliding-wrap {
        .sliding-text {
          span {
            text-align: center;
            display: block;
            font-weight: 200;
            font-size: 10rem;

            word-wrap: break-word;
          }
        } //sliding-text
      } //sliding-wrap
    } //title-wrap
    .works-list-wrap {
      position: absolute;
      bottom: $padding-ragular;
      right: 0;
      padding: 30px;
      width: 30vw;

      .works-list {
        gap: 10px;
        width: 100%;
        li {
          .imgbx {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .show-works-box {
      position: relative;
      overflow: hidden;
      // left: -100%;
      height: 100%;

      transition: 0.2s ease-in-out;

      ul {
        position: absolute;
        top: 0;
        left: 0;
        li {
          width: 70.2vh;
          .title {
            position: absolute;

            padding: 50px;
            letter-spacing: -0.4px;

            color: #fff;
            font-size: 2.5rem;
            span {
              display: block;
            }
          }
          .imgbx {
            width: 100%;
            img {
              width: 100%;
            } //img
          } //imgbx
        } //li
      } //lul
    } //show-works-box
  } //main-visual-area

  #profile-area {
    overflow: hidden;
    .hello-text-wrap {
      width: 60vw;
      margin: 0 auto;
      position: relative;
      .imgbx {
        position: relative;
        z-index: 1;
        margin: 0 auto;
        max-width: 30vw;
        img {
          width: 100%;
        }
      } //imgbx
      .introduction {
        padding: 45px 0;
        text-align: center;
        font-size: 2rem;
        span {
          display: block;
        }
      }
      .back-text-bubbles-wrap {
        ul {
          // z-index: -1;

          position: absolute;
          top: 30%;
          left: 50%;
          translate: -50% -50%;
          width: 100%; // 최대 너비 100%

          display: grid;
          grid-template-columns: repeat(20, 4fr);
          grid-template-rows: repeat(6, 4fr);
          justify-items: center;

          li {
            top: 10%;
            scale: 1;
            position: relative;
            width: 100%;
            border-radius: 30px;
            text-align: center;
            padding: 20px 10px;
            color: #fff;
            background-color: #e8af7d;
            &:first-child {
              // 로시/컬시/로끝/컬끝
              grid-area: 1/10/2/7;
              z-index: -1;
              animation: bubblesScale 4s infinite;
            }
            &:nth-child(2) {
              grid-area: 2/13/3/18;
              animation: bubblesScale 3.5s infinite;
            }
            &:nth-child(3) {
              opacity: 0.7;
              grid-area: 3/6/4/8;
              animation: bubblesScale 3.2s forwards infinite;
            }
            &:nth-child(4) {
              opacity: 0.3;
              grid-area: 5/13/6/17;
              animation: bubblesScale 3.5s infinite;
            }

            @keyframes bubblesScale {
              0% {
                top: 10%;
                scale: 1;
              }
              50% {
                top: -15%;
                scale: 1.1;
              }
              100% {
                top: 10%;
                scale: 1;
              }
            }
          }
        } //ul
      } //back-text-bubble
    } //hello-text-wrap

    // 텍스트 애니
    .top-ani-text {
      position: relative;
      // overflow-x: hidden; /* 넘치는 부분 숨김 */
      left: 0;

      // width: 100vw;
      color: #e8af7d35;
      white-space: nowrap; /* 텍스트 줄바꿈 방지 */
      animation: loopText 10s linear infinite;
      font-size: 7rem;
      @keyframes loopText {
        0% {
          left: -120%;
        }
      } //keyframes loopText
    } //top-ani-text
    .bottom-ani-text {
      position: relative;
      top: 80px;
      left: 0;
      // overflow-x: hidden; /* 넘치는 부분 숨김 */
      width: 100vw;

      color: #e8af7d35;
      font-size: 7rem;
      white-space: nowrap; /* 텍스트 줄바꿈 방지 */

      animation: loopText2 10s linear infinite reverse;
      @keyframes loopText2 {
        0% {
          left: -120%;
        }
      } //keyframes loopText
    } //bottom-ani-text

    // skill-wrap
    .skill-wrap {
      padding-top: 50px;
      width: 40vw;
      margin: 0 auto;

      .title {
        font-weight: 400;
        padding-bottom: 20px;
      }

      ul {
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 10px;
        li {
          border-radius: 20px;
          padding: 3px 16px;
          align-items: center;
          gap: 4px;
          font-size: 0.8rem;
          font-weight: 200;
          color: #fff;
          background: #000;
          .icon {
            width: 30px;
            img {
              width: 100%;
            }
          } //icon
        } //li
      } //ul
    } //skill-wrap

    .info-text-wrap {
      position: relative;
      padding: $container-padding 0;

      .ani-title-object {
        padding: $container-padding 0;
        font-size: 18rem;
        text-align: center;
        z-index: -1;
        span {
          color: #000;
          line-height: 0.8;
        }
      } //ani-title-object
      .img-wrap {
        gap: 0 5rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .imgbx {
          max-width: 20vw;
          img {
            aspect-ratio: 520 / 544;
            object-fit: cover;
            width: 100%;
          }
        } //imgbx
        .text {
          padding: $padding-ragular 0;
          // b {
          //   display: block;
          //   font-size: 2.5rem;
          //   margin: 20px;
          // }
          line-height: 1.6;
          max-width: 40%;
        } //text
      }
    } //info-text-wrap
  } //profile-area

  #works-list-area {
    // 모바일 타이틀
    .mo-title {
      display: none;
      padding: 40px 0;
      text-align: center;
      .eng-title {
        color: #fff;
        font-size: 3rem;
        margin-bottom: 20px;
      }
      .kor-title {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 200;
      }
    }
    // padding: 130px 0;
    background-color: #000;
    position: relative;
    height: 150vh;
    // overflow: hidden;
    .bg-wrap {
      .blurbx {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
      }
      .bg-box {
        // z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../public/images/works_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // backdrop-filter: blur(20px);
        opacity: 0.6;
        transition: background-image 0.3s ease, backdrop-filter 0.3s ease;
      }
    }

    .back-title-wrap {
      position: sticky;
      opacity: 0; /* 기본적으로 숨김 */
      transition: opacity 0.3s ease; /* 부드러운 전환 효과 */

      z-index: 9;

      cursor: default;
      pointer-events: none;

      text-align: center;
      top: 50%;
      // left: 50%;
      transform: translateY(-50%);
      // translate: -50% -50%;

      .eng-title {
        color: #fff;
        font-size: 5.5rem;
        span {
          display: block;
        } //span
      } //eng-title

      .kor-title {
        color: #fff;
        font-weight: 200;
        font-size: 1.5rem;
      }
    } //eng-title-area
    ul {
      z-index: 2;
      position: relative;
      translate: -50% -50%;
      left: 50%;
      top: -10%;
      display: grid;
      grid-template-columns: repeat(40, 4fr);
      grid-template-rows: repeat(6, 2fr);

      li {
        opacity: 0;
        translate: 0 10%;
        transition: 0.2s linear;
        &:first-child {
          // 로시/컬시/로끝/컬끝
          grid-area: 1 / 6 / 4 / 15;
        }
        &:nth-child(2) {
          // 로시/컬시/로끝/컬끝
          grid-area: 3 / 28 / 6 / 37;
        }
        &:nth-child(3) {
          // 로시/컬시/로끝/컬끝
          grid-area: 5/12/8/20;
        }
        &:hover {
          scale: 1.2;
          filter: drop-shadow(40px 40px 20px #18152b50);
        }
        .img-wrap {
          position: relative;
          .kor-title {
            padding: 20px;
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            span {
              display: block;
            }
          }
          .imgbx {
            width: 100%;
            img {
              aspect-ratio: 750 / 1099;
              width: 100%;
            } //img
          } //imgbx
        } //img-wrap
      } //li
    } //ul
  } //works-area

  #conect-us-area {
    position: relative;
    background-color: #000;
    padding: $container-padding 0;
    // z-index: 99;
    .img-wrap {
      position: relative;

      height: 20vh;

      .imgbx {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: 9;
        margin: 0 auto;
        max-width: 20vw;
        transform: rotate(4deg);
        transform-origin: 50% 40%;
        animation: movehead 4s linear infinite;
        img {
          width: 100%;
        }

        @keyframes movehead {
          0% {
            transform: rotate(4deg);
          }

          70% {
            transform: rotate(-4deg);
          }

          100% {
            transform: rotate(4deg);
          }
        }
      } //imgbx
      .title {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        text-align: center;
        font-size: 7rem;
        color: #e8af7d;
      }
    }
    ul {
      padding: 50px 0;
      li {
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icon-box {
          align-items: center;
          gap: 5px;
          img {
            width: 100%;
          }
        } // icon-box
        color: #fff;
        .topic {
          font-weight: 600;
        }
        .text {
          font-weight: 200;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    .copy {
      text-align: center;
      font-weight: 200;
      font-size: 0.6rem;
      color: #fff;
    }
  } //conect-us-area

  @keyframes slideUp {
    to {
      translate: 0 0%;
      opacity: 1; /* 최종 투명도: 1 */
    }
  }
} //main area



/************************************************************ 

[미디어쿼리]
단위: px
모바일 컴포넌트 적용: 661

테블릿 분기: 1180, 1024, 768
모바일 분기: 430, 375

************************************************************/


// ipad air 세로
@media screen and (max-width: 1180px) {
  // 애니바 display:none
  #main-area #main-visual-area .title-wrap {
    top: 50%;
  }
  .ani-bar {
    display: none;
  }
  #main-area #main-visual-area .title-wrap .sliding-wrap .sliding-text span {
    font-size: 8rem;
  }

  #main-area #works-list-area ul {
    li {
      &:first-child {
        // 로시/컬시/로끝/컬끝
        grid-area: 1 / 6 / 3 / 18;
      }
      &:nth-child(2) {
        // 로시/컬시/로끝/컬끝
        grid-area: 3 / 24 / 6 / 36;
      }
      &:nth-child(3) {
        // 로시/컬시/로끝/컬끝
        grid-area: 4/9/7/20;
      }
    }
  } //ul

  #main-area #profile-area {
    .info-text-wrap .ani-title-object {
      font-size: 10rem;
    } //info-text-wrap

    .skill-wrap {
      text-align: center;
      .skill-list {
        justify-content: center;
      }
    } //skil-wrap
    .hello-text-wrap {
      width: 90vw;
    }
  }
} /////1180/////////////////////////////////////////////////////

// ipad pro 가로
@media screen and (max-width: 1024px) {
  #main-area #main-visual-area .title-wrap {
    top: 46%;
  }
  #main-area #main-visual-area .title-wrap span {
    font-size: 15rem;
  }

  //테블릿 세로형에서 프로잭트 리스트 세로형으로 변경
  //show-works-box = display:none
  #main-area #main-visual-area .show-works-box {
    display: none;
  }

  #main-area #main-visual-area .works-list-wrap {
    translate: -50%;
    left: 50%;
    bottom: 6.5rem;

    flex-direction: column;
    align-items: center;
    .title {
      font-size: 1.5rem;
      padding-bottom: $padding-ragular;
    }

    .works-list {
      justify-content: center;
    }
  } //works-list

  #main-area #profile-area .hello-text-wrap .imgbx {
    max-width: 38vw;
  }
  #main-area #profile-area .skill-wrap {
    width: 60vw;
  }

  #main-area #profile-area .info-text-wrap .img-wrap {
    .imgbx {
      max-width: 24vw;
    }
    .text {
      max-width: 60%;
    }
  }
  #main-area #works-list-area {
    height: 87vh;
  }
  #main-area #profile-area .info-text-wrap .ani-title-object {
    span {
      display: block;
    }
  }
} /////1024/////////////////////////////////////////////////////

// ipad mini
@media screen and (max-width: 768px) {
  #main-area #main-visual-area .works-list-wrap .title {
    font-size: 1.2rem;
  }
  #main-area #profile-area .hello-text-wrap .back-text-bubbles-wrap ul {
    li {
      &:first-child {
        // 로시/컬시/로끝/컬끝
        grid-area: 1/5/2/10;
      }
      &:nth-child(2) {
        grid-area: 2/12/3/18;
      }
      &:nth-child(3) {
        grid-area: 3/6/4/8;
      }
      &:nth-child(4) {
        grid-area: 5/11/6/17;
      }
    }
  }
  #main-area #works-list-area ul{
    top: -30%;
  }

  #main-area #conect-us-area .img-wrap .title{
    font-size: 6rem;
  }
} /////768/////////////////////////////////////////////////////


@media screen and (max-width: 430px) {
  #main-area #main-visual-area .title-wrap{
    top: 45%;
  }
  #main-area #main-visual-area .title-wrap .sliding-wrap .sliding-text span{
    font-size: 4rem;
  }
  #main-area #main-visual-area .works-list-wrap{
    width: 70vw;
  }

  #main-area #profile-area .hello-text-wrap .back-text-bubbles-wrap ul {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 60%;
   li:nth-child(odd){
    translate: 20%;
   }
   li:nth-child(even){
    translate: -20%;
   }
  }
  #main-area #profile-area .hello-text-wrap .imgbx{
    max-width: 48vw;
  }
} /////412/////////////////////////////////////////////////////