//Main.scss
@import "../css/variables/variables";

/***************************** 1.메인 비쥬얼 영역 *****************************/
#main-visual-area {
  position: relative;
  //BG설정
  background: url(./../../public/images/main_bg.jpg);
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100vh;

  .text-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    text-align: center;
    margin: 0 auto;
    color: #fff;
    .title {
      letter-spacing: -0.2rem;
      line-height: 9rem;
      font-size: 7.2rem;
      font-weight: 200;
    }
    .text-box {
      margin-top: 0.9rem;

      .text {
        line-height: 1.4rem;
        display: block;
        font-size: $fontSiez_basic;
        font-weight: 200;
      }
    }
  }

  .scroll-down {
    position: absolute;

    left: 50%;
    bottom: 0%;
    translate: -50% -30%;

    color: #fff;
    font-size: 0.7rem;
    font-weight: 400;
    span {
      display: block;
      padding: 2rem;
    }
    .ani-bar {
      position: relative;
      overflow: hidden;
      margin: 0 auto;

      width: 0.1rem;
      height: 4rem;
      background: #ffffff40;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 1rem;
        height: 3rem;
        background: #ffffff;
        animation: ani-bar 1.5s linear infinite;
        @keyframes ani-bar {
          0% {
            opacity: 0;
            top: 0%;
          }
          75% {
            opacity: 1;
            top: 80%;
          }
          100% {
            opacity: 0;
            top: 100%;
          }
        }
      }
    }
  }
} //main-visual-area

/*****************************  2. 프로필 영역 *****************************/
#profile-area {
  .cont-wrap {
    background: #000;
    .imgbx {
      margin: 0 auto;
      margin-bottom: 7.5rem;
      top: 7%;
      width: 20.9rem;
      img {
        width: 100%;
      }
    }
    .text-wrap {
      max-width: 50rem;
      margin: 0 auto;
      margin-bottom: 7.5rem;
      text-align: left;
      color: #fff;
      h4 {
        margin-bottom: 2rem;
      }
      .text {
        font-size: $fontSiez_basic;
        font-weight: 200;
      }
    } //text-wrap
    .skil-list-wrap {
      .aa {
        margin: 0 auto;

        max-width: 50rem;
        img {
          width: 100%;
        }
      }
    }
    padding-bottom: 7.5rem;
  } //cont-wrap
} //profile-area

/***************************** 3. CONTACT US  *****************************/
#contact-area {
  background: #000;
  .text-box {
    max-width: 50rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    text-align: center;
    .title {
      color: $fontPointColor;
      font-size: 1.5rem;
      font-weight: 200;
      padding-bottom: 3rem;
    }
    .email {
      //   display: block;
      word-break: break-all; /* 긴 단어를 줄바꿈 */
      word-wrap: break-word; /* 긴 단어를 줄바꿈 */
      overflow-wrap: break-word; /* 긴 단어를 줄바꿈 */

      color: $fontPointColor;
      line-height: 1;
      font-size: 4rem;
      padding-bottom: 3rem;
    }
    .text {
      //   display: block;
      margin: 0 auto;
      max-width: 35rem;

      line-height: 1.4rem;
      font-weight: 200;
      color: #fff;
      font-size: $fontSiez_basic;
      padding-bottom: 3rem;
    }
  }
  a {
    display: block;
    font-size: 2rem;
    color: #fff;
    transition: 0.2s;
    text-align: center;
    padding-bottom: 3rem;

    &:hover {
      color: $fontPointColor;
    }
  }
}

/***************************** 미디어쿼리*****************************/
@media (max-width: 746px) {

  #main-visual-area .text-wrap .title{
    font-size: 6.2rem;
    line-height: 1;
  }
  #profile-area{
    .cont-wrap{
      .text-wrap{
        max-width: 26rem; 
      }
    }
  }

  #main-visual-area {
    background-size: cover;
    background-position: 60% 50%;
    .text-wrap {
      h2 {
        line-height: 5.7rem;
        font-size: 5.4rem;
      }
      .text-box {
        margin-top: 2.9rem;
      }
    }
  } //main-visual-area
  #contact-area {
    .email {
      font-size: 1.7rem;
    }
  }
} //746px 끝////////////////
@media (max-width: 500px) {
  #contact-area {
    .text-box {
      .text {
        max-width: 20rem;
      }
    }
  }//contact-area

  #contact-area{
    .text-box {
      max-width: 23rem;
    }
  }

} //320px 끝////////////////
