//portfoilo pj - workList sass
@import "../css/variables/variables";
/////import area//////////////////////////////

body {
    background-color: #000;
    position: relative;
}

#works-list-area {
    overflow: hidden;
    position: relative;
    height: 100vh;

    //flex 설정
    align-items: center;
    // flex-direction: row;

    .text-object-wrap {
        width: 20vw;
        padding-left: 40px;
        flex-direction: column;
        .txt {
            z-index: 1;
            font-family: "Gilda Display", serif;
            color: #fff;
            font-size: 2.1rem;
        }
    }
    .bg-box {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../public/images/works_bg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.3;
        filter: blur(20px);
        transition: background-image 0.3s ease, backdrop-filter 0.3s ease;
    }

    .ani-bar {
        z-index: 9;
        position: relative;
        overflow: hidden;
        margin: 0 auto;

        top: 54%;
        left: -28%;
        translate: -50% -50%;

        width: 12rem;
        height: 0.1rem;
        background: #ffffff40;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            opacity: 0;
            width: 40rem;
            height: 0.1rem;
            background: #ffffff;
            animation: ani-bar 2.6s linear infinite;
            @keyframes ani-bar {
                0% {
                    opacity: 0;
                    left: 0%;
                }
                75% {
                    opacity: 1;
                    left: 80%;
                }
                100% {
                    opacity: 0;
                    left: 100%;
                }
            }
        }
    }
}

/////////미디어쿼리/////////////////////////////////////
@media (max-width: 1300px) {
    #works-list-area {
        flex-direction: column;
        .text-object-wrap {
            width: 100%;
            padding: 40px;
            text-align: center;
            .txt {
                font-size: 5rem;
                 }
            .ani-bar {
                display: none;
            }
        }
    }
}
