//portfoilo pj - workList sass
@import "../css/variables/variables";
/////import area//////////////////////////////

#works-pj-area {
  .top-wrap {
    position: relative;
    padding: 20px;
    height: 10vh;

    border-bottom: 1px solid #000;
    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      span {
        display: block;
        font-size: 4rem;
      }
    }
    button {
      top: 50%;
      translate: 0 -50%;
    }
  } //top-wrap
  .works-swiper-container {
    translate: 0 12%;
    /* Swiper를 감싸는 컨테이너에 적용 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    // height: 100vh;
  }
}

@media screen and (max-width: 999px) {
  .works-swiper-container {
    display: none; /* WorksSwiper 컴포넌트 숨기기 */
  }
} //999

@media screen and (max-width: 580px) {
  #works-pj-area .top-wrap .title span {
    font-size: 2.2rem;
  }
} //580

